/**
 * @name Discord Revamp
 * @version 1.0
 * @description A revamped discord based on discord's current website.
 * @source https://github.com/hellbound1337/discord-revamp
 * @authorId 426147523305144322
 * @author hellbound
 * @donate https://paypal.me/zzzmario
 * @invite pCc7q4Z
**/

@import url(https://hellbound1337.github.io/discord-revamp/src/source.css);

.questionMark-CWEQZn {
   border-radius: 100px;
}

[name="QuestionMark"] {
   position: absolute;
}

/*.listeningAlong-30wH70, .container-6sXIoE.withTimeline-824fT_ { /* Spotify Listen Along + Controls */
   background: #699378;
}*/